* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   // font-family: 'Zpix' !important;
}

@font-face {
   font-family: 'Zpix';
   src: url('../../assets/font/Zpix.woff2') format('woff2');
}

img {
   width: 100%;
}

p {
   margin-bottom: 0;
}

ul,
li {
   list-style: none;
}

.nes-balloon {
   border-image-repeat: stretch !important;
}

.base-card {
   height: 100%;
   display: flex;
   flex-direction: column;

   p {
      font-size: 1.2rem;
      margin-bottom: 5px;
   }

   .card-body {
      flex: 1;
      margin-bottom: 20px;
   }

   .card-footer {
      margin-bottom: 10px;
      display: flex;
      gap: 20px;
   }
}

.base-btn,
a,
button {
   cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
         14 0,
      pointer;
}

.wengx-scrollbar {
   overflow: auto;

   &::-webkit-scrollbar {
      width: 8px;
      background: white;
   }
   &::-webkit-scrollbar-corner, /* 滚动条角落 */
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-track {
      border-radius: 4px;
   }
   &::-webkit-scrollbar-corner,
   &::-webkit-scrollbar-track {
      /* 滚动条轨道 */
      background-color: rgba(180, 160, 120, 0.1);
      box-shadow: inset 0 0 1px rgba(180, 160, 120, 0.5);
   }
   &::-webkit-scrollbar-thumb {
      /* 滚动条手柄 */
      background-color: #4e4e4e;
   }
}

.black-border {
   padding: 3px;
   border-left: 5px solid #333;
   border-right: 5px solid #333;
   position: relative;
}

.black-border::before,
.black-border::after {
   content: '';
   position: absolute;
   left: 0;
   top: -5px;
   background-color: #333;
   width: 100%;
   height: 5px;
}

.black-border::before {
   top: unset;
   bottom: -5px;
}


.minecraft-btn1 {
   font-family: 'Zpix' !important;
   padding: 12px 24px;
   color: #fff;
   font-weight: bold;
   background: #3c8527;
   text-shadow: 0 2px 0 #2a641c;
   box-shadow: inset 0 -4px 0 #2a641c, inset 0 4px 0 #52a535;
   position: relative;
}

.minecraft-btn1::after,
.minecraft-btn1::before {
   content: '';
   position: absolute;
   background: #2a641c;
   height: calc(100% - 8px);
   top: 4px;
   width: 0.25rem;
   left: -0.25rem;
}

.minecraft-btn1::after {
   left: unset;
   right: -0.25rem;
}

.minecraft-btn1:hover {
   background-color: #3c8527e8;
}

.minecraft-btn2 {
   padding: 10px 20px;
   color: #fff;
   font-family: 'Zpix' !important;
   background-color: #488344;
   position: relative;
   border: none;
}

.minecraft-btn2:hover {
   background-color: #579952;
}

.minecraft-btn2::after,
.minecraft-btn2::before {
   width: 50%;
   height: 6px;
   background: #366233;
   position: absolute;
   bottom: -6px;
}

.minecraft-btn2::after {
   content: '';
   right: 2.5px;
   -webkit-transform: skewX(-35deg);
   transform: skewX(-35deg);
}

.minecraft-btn2::before {
   content: '';
   left: 2px;
   -webkit-transform: skewX(35deg);
   transform: skewX(35deg);
}