@media screen and (max-width: 900px) {
   .wengx-main {
      padding: 25px !important;

      .main-body {
         max-height: unset !important;
      }

      .body-header .coolie-fear-img {
         width: 50px !important;
         bottom: 0 !important;
         top: 15px;
      }

      .left-content,
      .right-content {
         height: auto !important;
      }

      .right-content {
         margin-top: 50px;
         padding-bottom: 70px;
      }

      .main-player-box {
         display: none;
      }
   }

   .home-views.home-views {
      display: block;
   }

   .support-view {
      table {
         td,
         th {
            padding: 5px 10px !important;
         }
      }
   }
}

@media screen and (max-width: 576px) {
   html {
      font-size: 14px;
   }

   .wengx-main {
      padding: 0 !important;

      .main-body {
         border-radius: 0 !important;
      }
   }

   .support-view {
      table {
         td,
         th {
            padding: 5px !important;
            font-size: 1.1rem !important;
         }
      }
   }

   .home-views  {
      padding-top: 100px !important;

      .online-data {
         justify-content: space-between;
      }

      .data-item.data-item.data-item {
         width: 140px;
      }
   }
}
