@media screen and (max-width: 900px) {
   .wengx-main {
      padding: 25px !important;

      .main-body {
         height: auto !important;
      }

      .body-header .coolie-fear-img {
         width: 50px !important;
         bottom: 0 !important;
         top: 15px;
      }

      .body-content {
         grid-template-columns: 1fr !important;
         align-items: center;
      }

      .left-content,
      .right-content {
         height: auto !important;
      }

      .main-player-box {
         display: none;
      }
   }
}

@media screen and (max-width: 576px) {
   html {
      font-size: 14px;
   }

   .wengx-main {
      padding: 0 !important;

      .main-body {
         border-radius: 0 !important;

         .body-header {
            flex-direction: column;
         }
      }
   }
}
